# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores de código
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependencias (para etapas futuras)
node_modules/

data/app.sqlite
